<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
  </head>
  <body>
    <h1>Jordan Campbell</h1>
    <p>
      I am a passionate developer with experience in web development, database
      management, and AI integration. I enjoy problem-solving and finding
      efficient solutions to improve user experiences. I am always looking for
      new ways to learn and grow, whether through projects, research, or
      collaboration.
    </p>
    <img src="{{url_for('static', filename='images/random.jpg')}}">
  </body>
</html>
